/*body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:40px auto;font-family:"微软雅黑";}*/
#allmap{
    /*width:60%;
    height: 60%;
	*/
	width: 80%;
	height: 600px;
	margin: 80px auto;
}